env:
  global:
    # DOCKER_EMAIL
    - secure: "A94X1FypiPlirTqslGaS0ieY58iRxWtz7mJzNl9Qw168xsjSKdIujnolW8xmO3xUZyb64zSvET3TSNYsRQlx5BLhm9+42iAEpizat2d0RRoP1rZslY5s6JDtKFgk1ovaUtbBCj/g7hnBw+wdnn257fspk9oE7TIgoN3nqzkoCuUG2I9SeX+T1oJc61cupmswIQ2HmGjP944pgK2tWz91q0xJCCUgAmy3tFCOirbI9G1308aRKKJJPVHFxPC7lxb0MppZy7nJ7n58TQskkVuS8V6QcEcmPomYPWsZ9DJSz+HweDgcivuT0+aWmFGHOvLJHu6kxqmcSeM1WO8szRINX1B8shZvqzWIy09KNA1H9X1juzmv5i5sCyKZLv9f7mE6vkIrJk+XgZa7UHTrez4jpC5tbo0kJOK4234QerckN+a3trnh35I/jCTtWGiXMt/ftTVWzdGwTzi9+KMs4gN++d1KYXLwJwxckTU9AWUDvITf9hF4yC3hSSbewd9TmuthE3kSiJjWOn9Rci/y6GQ9qVruolzUDNQ3g44dMwQ23X2/D5nMmzOmPgBhvIzQPsU3aBajlhXBZBor09snQ4b5vacWN0FtZXqNfj0w3/YiKeuzenyCa0HjsRWWNaQ6jnsabSfbF+k02SzVwXyjCgMpH/S7y2GOrW0LOZ2DWpX1KOI="
    # DOCKER_USER
    - secure: "pQDCR+dOAPoKeFc8CE0v5fUkBjuyye6mLM1pgclD30VJ9UwB/I85Ub40wgVXesFPRscjRP/3/heqnnx6sQZUM/+pS55NT6xttCKXycwf2z9AIObOft5febvS8D/2x4Tnax9yKldQukJXDHvU8Ye4PU6RDjGlI/QaZWzVTh4panzMIe9HwYhvKRFfr5CowcLYPjj9uyF54TJ70GEpkvhwRmRCMtmj7x+MuaBRIvDqjkVJQYcEuTY2YqfgJZ435C+GIdjsSWBfSedt5H3Jtna8FBfBC/Wka7xL5ubNKbwXhg7aRG36wFJCKnyHvm4gSixecKBeGkzj0gJDbqpRlxV/PM3h59l1f/3Yorjf8vsd1nA/Ked808tAgKDek+nuFmDP9Za1M0j9aGHzlxMl45lelLxm1AEjAbwtMDNGLrporB+XggBGaGWNxIYmLQqYyjTA5zVjU7Md7rGRtTzHhNEWVa9p84v2sN3QFSPdlm6AAs+Oj10wIQB2BRm2ImcFOe47G7DHiHe81+bszCRJGj+0G8Z7eD6ABUqXFK7Zu4eryn+P9PIi2CfYdzCBbOX73ZNLOovOUL2a8BxjaMf1gkKUJ5kki7BMOEAY5oTM8dU6DnO9zHjhnlD8BbXlAFI1IeVX84cYkA5U4tP5hDxXZ/audv5ZFl8HvYHlwqgU219tjhE="
    # DOCKER_PASS
    - secure: "V2GMMZKiP2oYVUlkecDjEB7TwI2mOKM504UjZJkXWwSLiVa98/xw0FLVItWSX+kYj0jLFXex4cx8vGbvQsaxs40NaljLBVb2g31q2oZSKFfI7wiZj+CcjQ280aQQuBHniWjcDbq2r+ppLAqYbNdoVAPoBzuvm6mZyPtnyH8klIZqM1S0M+WtHuaKMhGpMAMt0csIapK4SUpikLHvtlgS5kRG+Kp6YfKlyxowGiIBdf0b4P1Yt2BD+0C524snvTnE3JcAMjSpNToQ+FKOoYk1yddy9f9cmiuWk/js52bGtcMIFymRhZDS+9LRazTu7dI2fHzJ5I4SzgFMdwAwsq52Eu6Xppq3fwose1dXHTce1hLvLh1U+AqSHmmKaWb+rrI+xhj2l5rFGkL3Mq2T3r126n/lX2HP6rWQPdlxgzRWSY4fee0YjADBjBrVFlHyO6znCPZeBQY1BptjilYHxxuyiYn38/u/pdvgv6MBPLabZREjwZlTMq9h82qWx1tz3pfxVPirhwRqJ9f8NCeUda/uXpi7NfI7rwqbLeNL4u1TeepQryFeBO1mY19C1JvwwHk8lLY76RVFAA51xrREnXoyAC3rRa900lrneQoPzs8ksZ+9RIRKwxgPflGNSjrDP9RKCNdz4ciyyM9QcTaklubZuhxrlgfTvzStE2P5A8tlGeI="
    # GITHUB_TOKEN
    - secure: "fMCZAXHlkr8SQLKyj0cM7uEhgz2WeGotl26bo4Oap267h89I7t01Zp+SHtMy97kZlR2y38uF3ZA7MIBWCQTjwJrk8HxRkjovoYri6BTXBv39+KOnLme5ytIcik+Z3aeycJQPJyYPbt9KgbrX9mrUSgSlrqJ9Dql4MePKPMfo0VZorKAqA8L3K+KHkRsULmbG9mByL+6+J0hwlRg29zJHbFobH2HKSohQidalR3TWCdEBlfu5Qz17YhoWbanl/JSUl16NqjydE7QtLsyw73cEy4RPOBkjXvdBboNI+6MljpitiiuoKvQyKkYAf+UKUlYZ2p1JReLmeRfH5Gl8Oop9lb4jG8oZDsx6hMp0MtOETDmikzH9GQ0UlcdpES/cS2LXR+ZbO7k+mHgUO4QaNKDaVEzYoSGN4Vm1aFN+PeWifrWHVtLiYWzPMMy3OCGI4OHdirKHgyrca7eXrWWHRdnM8Emj15X8109m1Nat6NCkebpqzUBC+nhs8H9Jy0BUcdyY4T5oxT9vEqh1EpfmzquUVJxmZJRheBrs69UEpfUkUMKlgPLuffdt3uGNqeG/yijrc12yYDDQhIA/XDzEQEplLog46uFzAEOGuEvV3L7+/eK1/Gxm1aFwgoPRNmMMMUFhRBH1MU8/xQYscFQepcYn2pHXgZb9k9xczbVFgZsXRqo="
language: node_js
node_js:
  - '8'
cache:
  directories:
    - node_modules

# sudo: required

install:
  - npm install
  - npm run build


script:
  - npm run lint
  - docker-compose up -d
  - sleep 5
  - npm test

after_success:
  - npm run coveralls
  # No docker push or gh-pages push on pull requests
  - if [ "$TRAVIS_PULL_REQUEST" == "true" ]; then exit; fi
  # Docker build and push
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - export REPO=koumoul/simple-directory
  # Pull before push in order to fill docker cache
  - docker pull $REPO:latest
  - docker build -f Dockerfile --cache-from $REPO:latest --build-arg VERSION=$TRAVIS_BUILD_NUMBER -t $REPO:$TRAVIS_BRANCH .
  - docker push $REPO:$TRAVIS_BRANCH
  # Doc build
  - npm run build-doc
  # The following is only for tags
  - if [ -z "$TRAVIS_TAG" ]; then exit 0; fi
  # create alternative tags for the docker image
  - docker tag $REPO:$TRAVIS_TAG $REPO:latest
  - docker push $REPO:latest
  - export MAJOR=$(./node_modules/.bin/semver-extract --major $TRAVIS_TAG)
  - docker tag $REPO:$TRAVIS_TAG $REPO:$MAJOR
  - docker push $REPO:$MAJOR
  - export MINOR=$(./node_modules/.bin/semver-extract --minor $TRAVIS_TAG)
  - docker tag $REPO:$TRAVIS_TAG $REPO:$MINOR
  - docker push $REPO:$MINOR

deploy:
  provider: pages
  local_dir: doc-dist
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  on:
    tags: true
