
    # first origin
    server {
      listen ${NGINX_PORT1};
      server_name _;

      # Transmit host, protocol and user ip, we use it for routing, rate limiting, etc.
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header X-Forwarded-Host $http_host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Client-IP $remote_addr;
      # web socket support
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "Upgrade";

      # redirect root to /simple-directory/
      location = / {  
        return 302 /simple-directory/;
      }

      location /simple-directory/api {
        proxy_pass http://localhost:${DEV_API_PORT};
      }
      location /simple-directory/.well-known {
        proxy_pass http://localhost:${DEV_API_PORT};
      }
      location ~ /simple-directory/(.*)-ui-config.js {
        proxy_pass http://localhost:${DEV_API_PORT};
      }
      location /simple-directory {
        # port ${DEV_UI_PORT} to use vite dev server
        # port ${DEV_API_PORT} to use built application
        proxy_pass http://localhost:${DEV_UI_PORT};
      }
      location /mails {
        rewrite  ^/mails/(.*) /$1 break;
        proxy_pass http://localhost:${MAILDEV_UI_PORT}/;
      }
      location /events {
        proxy_pass http://localhost:${EVENTS_PORT};
      }
    }

    # another one to simulate multi-site usage
    server {
      listen ${NGINX_PORT2};
      server_name _;

      # Transmit host, protocol and user ip, we use it for routing, rate limiting, etc.
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header X-Forwarded-Host $http_host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Client-IP $remote_addr;
      # web socket support
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "Upgrade";

      # redirect root to /simple-directory/
      location = / {  
        return 302 /simple-directory/;
      }

      location /simple-directory/api {
        proxy_pass http://localhost:${DEV_API_PORT};
      }
      location /simple-directory/.well-known {
        proxy_pass http://localhost:${DEV_API_PORT};
      }
      location /simple-directory {
        proxy_pass http://localhost:${DEV_UI_PORT};
      }
      location /mails {
        rewrite  ^/mails/(.*) /$1 break;
        proxy_pass http://localhost:${MAILDEV_UI_PORT}/;
      }
      location /events {
        proxy_pass http://localhost:${EVENTS_PORT}/;
      }
    }

    # another one to simulate multi-site usage
    server {
      listen ${NGINX_PORT3};
      server_name _;

      # Transmit host, protocol and user ip, we use it for routing, rate limiting, etc.
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header X-Forwarded-Host $http_host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Client-IP $remote_addr;
      # web socket support
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "Upgrade";

      # redirect root to /simple-directory/
      location = / {  
        return 302 /simple-directory/;
      }

      location /simple-directory/api {
        proxy_pass http://localhost:${DEV_API_PORT};
      }
      location /simple-directory/.well-known {
        proxy_pass http://localhost:${DEV_API_PORT};
      }
      location /simple-directory {
        proxy_pass http://localhost:${DEV_UI_PORT};
      }
      location /mails {
        rewrite  ^/mails/(.*) /$1 break;
        proxy_pass http://localhost:${MAILDEV_UI_PORT}/;
      }
      location /events {
        proxy_pass http://localhost:${EVENTS_PORT}/;
      }
    }

    # another one to simulate multi-site with a path prefix
    # to test this one edit devSitePath in vite.config.ts
    server {
      listen ${NGINX_PORT4};
      server_name _;

      # Transmit host, protocol and user ip, we use it for routing, rate limiting, etc.
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header X-Forwarded-Host $http_host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Client-IP $remote_addr;
      # web socket support
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "Upgrade";

      # redirect root to /simple-directory/
      location = / {  
        return 302 /site-prefix/simple-directory/;
      }
      location = /site-prefix {  
        return 302 /site-prefix/simple-directory/;
      }

      location /site-prefix/simple-directory/api {
        proxy_pass http://localhost:${DEV_API_PORT};
      }
      location /site-prefix/simple-directory/.well-known {
        proxy_pass http://localhost:${DEV_API_PORT};
      }
      location /site-prefix/simple-directory {
        proxy_pass http://localhost:${DEV_UI_PORT};
      }
      location /site-prefix/mails {
        rewrite  ^/mails/(.*) /$1 break;
        proxy_pass http://localhost:${MAILDEV_UI_PORT}/;
      }
      location /site-prefix/events {
        proxy_pass http://localhost:${EVENTS_PORT}/;
      }
    }
